body {
    width: 100%;
    height: 100%;
    padding: 10px;
    @media (max-width: 600px){
        .img,.html, .div {
          width: 400px;
          height:400px;
        }
    }
     
}
.maquina {
    height: 500px;
    width: 480px;
    padding: 20px;
    margin: 20px;
}
.maquina-atualizada {
    width: 500px;
    height: 500px;
    margin: 20px;
}
@media(max-width: 600px){
    .maquina, .maquina-atualizada {
        width: 250px;
        height: 200px;
        flex-direction: column;
        margin: auto;
    }
}
.moedor{
    width: 38%;
    height: 480px;
}
.moedor1 {
    width: 38%;
    height: 600px;
    padding: 10px;
}
@media(max-width:600px){
.moedor,.moedor1 {
    width: 60%;
    height: 300px;
    margin: auto;
 }   
}
.forno {
    width: 50%;
    height: 600px;
}
.forno1 {
    width: 600px;
    height: 600px;
}
.forno2 {
    width: 50%;
    height: 300px;   
}
@media(max-width: 600px){
    .forno, .forno1,.forno2,.cxborra {
        width: 75%;
        height: 200px;
        flex-direction: column;  
        margin: auto;  
    }
}
.vitrine {
    width: 400px;
    height: 500px;
}
.freezer {
    width: 600px;
    height: 700px;
}
.freezer2 {
    width: 500px;
    height: 500px;
}
@media(max-width:600px){
    .freezer1, .freezer2, .vitrine{
        width: 250px;
        flex-direction: column;
        margin: auto;
    }
}
@media(max-width:600px){
    .bloco1, .bloco3,.bloco5,.bloco6 {
        height: 200px;
        margin: auto;
    }
}
.expositora {
    width: 700px;
    height: 600px;
}
.expositora1{
    width: 800px;
    height: 700px;
}
@media (max-width:600px) {
    .expositora,.expositora1,.freezer {
        width: 100%;
        height: 250px;
        flex-direction: column;
        margin: auto;
    }
}
@media (max-width: 600px) {
    .bloco6 {
        height: 500px;
        margin: auto;
    }
}

.cxborra{
    width: 500px;
    height: 500px;

}
.pitcher {
    width: 400px;
    height: 600px;
}

.tamper {
    width: 400px;
    height: 300px;
}





.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    
}
.bloco1 {

    width: 90%;

}
.bloco2 {
   
    width: 100%;
    height: auto;
}
.bloco3 {
   
    width: 100%;
    height: auto;
}
.bloco4 {
   
    width: 100%;
    height: 650px;

}
.bloco5{
  
    width: 100%;
    height: auto;
    
}
.bloco6{
  
    width: 100%;
    height: auto;

}
.bloco7{
 
    width: 100%;
    height: 580px;

}
.bloco8{
  
    width: 100%;
    height: 670px;

}

.bloco10{

width: 100%;
height: 400px;
}
.bloco9{
  
    width: 600px;
    height: 600px;

}
.bloco4{

}